<launch>
<!--This launch file launches all ROS nodes for controlling KEEPON from a local computer.
it currently does NOT launch the crank interface, nor include these componenets



Roger Nasci
HRI fall 2015
Version 0: created and added basic funtions
-->

<!-- These packages must be installed:
rosserial_python: http://wiki.ros.org/rosserial_python
	Follow: http://wiki.ros.org/rosserial_arduino/Tutorials/Arduino%20IDE%20Setup
joy: http://wiki.ros.org/joy/Tutorials/ConfiguringALinuxJoystick
	sudo apt-get install ros-indigo-joy
-->

<!-- launch joystic read node, JOY. 
set input channel using 
	ls /dev/input/ 
	to get channel
-->
<node name="keepon_controller" pkg="joy" type="joy_node">
	<param name="joy_node/dev" value="/dev/input/jsX" />
</node>

<!-- launch speakeasy controller 
-->
<node name="speakeasy_controller" pkg="speakeasy" type="speakeasy_controller.py">
</node>

<!-- launch image viewer -->
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>



</launch>
